<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
<body>
     <div class="main-content"> {{>headers}}
         <p>
             This site was created by Aditi Jain. It uses data from metbox.com and darksky.net.
         </p>
         {{!-- <img class="portrait" src="img/shivani i.jpg"> --}}
     </div>
    {{>footer}}
</body>

</html>